body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#keywordStatistics, #finishButton, #finishButton, #copyToClipboardButton, pre {
    display: none;
}

.example-text {
    font-size: 10px;
    color: #666666;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea, button {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
}

button {
    background-color: #A5DA2F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #73a30a;
    color: #black;
    margin-left: auto;
    margin-right: auto;
}

pre {
    white-space: pre-wrap;
    color: white;
    word-wrap: break-word;
    background-color: #303030;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#keywordStatistics {
    margin-top: 20px;
}

/*ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-weight: bold;
}*/

#app-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

